<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> | Perpus Online</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      body {
        background-image: url("auth-background.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    </style>
  </head>
  <body class="">
    <!-- Gambar hanya muncul di HP -->
    <div class="lg:hidden absolute inset-0 w-full h-[90vh] flex justify-center items-center">
      <img src="only-access-desktop.png" alt="only-access-desktop" />
    </div>

    <!-- Konten hanya muncul di laptop -->
    <div class="hidden lg:block">
      <%- body %>
    </div>
  </body>
</html>
